@media screen and (max-width:320px) {
    #logo{
        width: 60px!important;
    }
    .hero-slide-content{
        gap: 10px;
        padding: 10px;
    }
    .hero-slide-content h2{
        font-size: 12vw;
    }
    .hero-slide-content p{
        font-size: 5vw;
    }
    .hero-slide-content div{
        width: 100%;
        justify-content: space-around;
    }
    #about-cards{
        padding: 10px 20px;
    }
    .about-card p{
        font-size: 5vw;
    }
    .about-card:first-child i{
        color: var(--gold);
        font-size: 32px;
    }
    .about-card:nth-child(2) i{
        font-size: 32px;
    }
    .about-card:last-child i{
        font-size: 32px;
    }
    #Biography h1{
        font-size: 12vw;
    }
    #Biography p{
        font-size: 5vw;
    }
    section .heading{
        font-size: 8vw !important;
    }
    .service h2{
        font-size: 6vw;
    }
    .service p{
        font-size: 4vw;
    }
    #make-appointment h2{
        font-size: 10vw;
    }
    #make-appointment p{
        font-size: 6vw;
    }
    #make-appointment .hero-action{
        padding: 10px 20px;
        font-size: 16px;
    }
    #faq .pitanje-odgovor-wrapper .pitanje-wrapper{
        font-size: 5vw;
    }
    .pitanje-odgovor-wrapper .odgovor-wrapper p{
        font-size: 4vw;
    }
    .contact-item i{
        font-size: 10vw;
    }
    .contact-item h3{
        font-size: 5vw;
        left: 20px;
    }
    .contact-item span{
        font-size: 5vw;
        left: 20px;
    }
    #footer{
        font-size: 4vw;
    }
    .footer-name{
        font-size: 10vw;
    }
    .footer-logo{
        font-size: 4vw;
    }
    .footer-menu{
        font-size: 6vw;
    }
}
@media screen and (max-width:450px) {
    .contact .email{
        display: none;
    }
    #nav{
        top: 40px;
        background-color: var(--navy);
        border-top: 2px solid var(--gold);
    }
    #logo{
        left: 10%;
        width: 80px;
    }
    #hamburger{
        display: block;
    }
    #nav-list{
        display: none;
    }
    .hero-slide-content{
        width: 100%;
    }
    .down-arrow{
        display: none;
    }
    #about-cards{
        width: 100%;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
    }
    .about-card{
        width: 100%;
    }
    .about-content-wrapper{
        width: 100%;
        flex-direction: column;
        gap: 30px;
        padding: 50px 20px;
    }
    .about-content-wrapper .image-wrapper{
        width: 100%;
    }
    #Biography{
        width: 100%;
    }
    #Biography p{
        padding: 0;
    }
    #services{
        padding: 100px 20px;
    }
    .services-row{
        flex-direction: column;
        gap: 30px;
        height: fit-content;
        width: 100%;
    }
    .service{
        height: fit-content;
        gap: 10px;
    }
    .allServices{
        right: 5%;
    }
    #services-second-row{
        display: none;
    }
    #make-appointment{
        height: fit-content;
    }
    #make-appointment #cover{
        background-attachment: initial;
        background-position: center!important;
    }
    #faq{
        padding: 100px 10px;
    }
    #faq .content-wrapper{
        width: 100%;
        gap: 30px;
        margin-top: 100px;
    }
    #faq .pitanje-odgovor-wrapper{
        width: 100%;
    }
    #contact{
        flex-direction: column;
        gap: 50px;
        width: 100%;
        margin-top: 100px;
        padding: 50px 20px;
    }
    #contact-information{
        width: 100%;
    }
    #contact-form{
        display: none;
    }
    .contact-mail-bg{
        display: none;
    }
    #map{
        width: 100%;
        height: 350px;
    }
    footer{
        height: fit-content;
        width: 100%;
        padding: 50px 20px;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .footer-column{
        width: 100%;
        height: fit-content;
    }
}
@media screen and (min-width:376px) and (max-width:450px) {
    footer{
        height: fit-content;
        width: 100%;
        padding: 50px 20px;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .footer-column{
        width: 100%;
        height: fit-content;
    }
}
@media screen and (min-width:600px) and (max-width:1024px) {
    footer{
        height: fit-content;
        width: 100%;
        padding: 50px 20px;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;
    }
    .footer-column{
        width: 40%;
        height: 50%;
    }
}

@media screen and (min-width: 1900px) {
    #logo{
        left: 40px;
        width: 100px;
    }
    .hero-slide-content{
        width: 50%;
    }
    .hero-slide-content p{
        width: 80%;
    }
    .hero-slide-content div{
        width: 40%;
    }
    .about-card p{
        font-size: 20px;

    }

    .about-card:first-child i{
        font-size: 54px;
    }
    .about-card:nth-child(2) i{
        font-size: 54px;
    }
    .about-card:last-child i{
        font-size: 54px;
    }
    #Biography h1{
        font-size: 48px;
    }



    #make-appointment{
        height: 50vh;
    }
    #make-appointment h2{
        font-size: 48px;
    }
    #make-appointment p{
        font-size: 28px;
    }
    #make-appointment .hero-action{
        padding: 15px 40px;
        font-size: 18px;
    }
    #faq .content-wrapper{
        width: 60%;
        margin: 50px auto;
        gap: 30px;
    }
    #faq .pitanje-odgovor-wrapper{
        width: 50%;
    }
    #faq .pitanje-odgovor-wrapper .pitanje-wrapper{
        font-size: 24px;
    }
    .pitanje-odgovor-wrapper .odgovor-wrapper p{
        font-size: 18px;
    }
    #contact{
        width: 80%;
        margin: 100px auto;
        padding-top: 50px;
    }
    #contact h2{
        position: absolute;
        left: 50%;
        top: 70px;
        transform: translateX(-50%);
        margin: 0;
        font-size: 30px;
    }
    #contact-information{
        width: 25%;
        margin-top: 100px;
    }
    #contact-form{
        width: 25%;
        margin-top: 100px;
        /* border: 1px solid red; */
    }
    .contact-item i{
        font-size: 48px;
    }
    .contact-item h3{
        font-size: 22px;
        left: 50px;
    }
    .contact-item span{
        font-size: 18px;
        left: 50px;
    }
    #map{
        height: 350px;
        width: 25%;
        margin-top: 100px;
    }
    footer{
        height: 400px;
        padding: 0 10%;
        padding-top: 50px;
        justify-content: space-evenly;
    }
    .footer-column{
        width: 20%;
        height: 60%;
    }
    #footer{
        font-size: 18px;
    }
    .footer-name{
        font-size: 40px;
    }
    .footer-logo{
        font-size: 18px;
    }
    .footer-menu{
        font-size: 22px;
    }
}